* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #abcdef;
}

#tictactoe {
	background-color: #fedcba;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
}

#board {
	margin-top: 20%;
	margin-right: auto;
	margin-left: auto;
	width: 306px;
}

.checkbox {
	width: 100px;
	height: 100px;
	float: left;
	border: 1px solid #000000;
	background-position: center center;
	background-repeat: no-repeat;
}

#cell_0-0 {
	border-left: 0px solid;
	border-top: 0px solid;
}

#cell_0-1 {
	border-top: 0px solid;
}

#cell_0-2 {
	border-right: 0px solid;
	border-top: 0px solid;
}

#cell_1-0 {
	border-left: 0px solid;
}

#cell_1-2 {
	border-right: 0px solid;
}

#cell_2-0 {
	border-left: 0px solid;
	border-bottom: 0px solid;
}

#cell_2-1 {
	border-bottom: 0px solid;
}

#cell_2-2 {
	border-right: 0px solid;
	border-bottom: 0px solid;
}

.controller {
	margin-top: 20px;
	padding: 5px;
	float: left;
	width: 100%;
	background-color: #99dd66;
	border: 1px solid black;
	position: relative;
}

.checkbox {
	font-size: 50pt;
}

#startbutton {
	position: absolute;
	right: 5px;
}

.playerText {
	padding: 0px 5px;
	border-radius: 5px;
	margin-left: 2px;
	position: relative;
	top: 1px;
}

#playingPlayer {
	background-color: #ffff44;
}
